{% extends 'base.html' %}
{% block styles %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <div class="p-5 rounded-3 text-center text-white" style="border-width: 0.1ex 0.1ex 0.1ex!important;">
        <div class="">
            <h1 class="my-2">Cyprian Munene</h1>

            <div class="mb-5">
                backend engineer &nbsp;&nbsp; | &nbsp;&nbsp; cybersecurity engineer
            </div>


            <div class="links d-flex justify-content-between ">
                <a href="mailto:hi@cyprian.dev" data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Email">
                    <i class="bi bi-envelope fs-3 text-light"></i>
                </a>
                <a href="tel:+2534210364" data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Phone">
                    <i class="bi bi-telephone fs-3 text-white"></i>
                </a>
                <a href="https://www.linkedin.com/in/cyprian-munene-7838833a3" data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="LinkedIn">
                    <i class="bi bi-linkedin fs-3 text-white"></i>
                </a>
                <a href="https://stackoverflow.com/users/11117929/karuoro" data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Stack Overflow">
                    <i class="bi bi-stack-overflow fs-3 text-white"></i>
                </a>
            </div>

        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>

const tooltipTriggerList =
document.querySelectorAll('[data-bs-toggle="tooltip"]')

const tooltipList =
[...tooltipTriggerList].map(
    el => new bootstrap.Tooltip(el)
)

</script>
{% endblock %}
