{% extends 'base.html' %}
{% block content %}
    <div class="container px-5 my-5">

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h4 class="text-white fw-bolder mb-0">Experience</h4>
                    </div>
                    <!-- Experience Card 1-->
                    <div class="card border rounded-4 mb-5 bg-dark text-white ">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-dark p-4 rounded-4">
                                        <div class="text-white fw-bolder mb-2">2024 - Present</div>
                                        <div class="small fw-bold color-soft">Software Engineer</div>
                                        <div class="small text-muted">Northwest Digital Media</div>
                                        <div class="small text-muted">Tukwila, WA</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="color-soft">
                                        I develop and maintain backend services using Python and Django, implementing
                                        RESTful APIs, integrating third-party services, and ensuring secure, resilient
                                        applications. I focus on application security, identifying and mitigating
                                        vulnerabilities, and leverage Python automation for workflows, internal tools,
                                        and home automation.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Card 2-->
                    <div class="card border rounded-4 mb-5 bg-dark text-white ">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-dark p-4 rounded-4">
                                        <div class="text-white fw-bolder mb-2">2023 - 2024</div>
                                        <div class="small fw-bold color-soft">Student IT Technician</div>
                                        <div class="small text-muted">University of the Incarnate Word</div>
                                        <div class="small text-muted">San Antonio, TX</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="color-soft">
                                        I installed, configured, and troubleshooted audio-visual systems. I ensured
                                        secure
                                        network connections, maintained access control for devices, and implemented best
                                        practices to safeguard sensitive instructional data. Deployed reliable
                                        multimedia solutions, documented technical
                                        procedures and supported secure digital workflows across classrooms and events.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Card 3-->
                    <div class="card border rounded-4 mb-5 bg-dark text-white ">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-dark p-4 rounded-4">
                                        <div class="text-white fw-bolder mb-2">2021 - 2024</div>
                                        <div class="small fw-bold color-soft">Backend Engineer</div>
                                        <div class="small text-muted">Lyra Health</div>
                                        <div class="small text-muted">San Francisco, CA</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="color-soft">Built and maintained backend services using Django REST Framework, designing
                                        RESTful and GraphQL APIs for web and mobile clients. Optimized database queries
                                        and background tasks with Celery and Redis, ensuring high-performance, scalable,
                                        and secure applications.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Card 4-->
                    <div class="card border rounded-4 mb-5 bg-dark text-white ">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-dark p-4 rounded-4">
                                        <div class="text-white fw-bolder mb-2">2019 - 2021</div>
                                        <div class="small fw-bold color-soft">Full Stack Developer</div>
                                        <div class="small text-muted">San Antonio SMES</div>
                                        <div class="small text-muted">San Antonio, TX</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="color-soft">Built custom applications, websites, and automated solutions for SMEs in San
                                        Antonio. Implemented secure systems, optimized workflows
                                        through automation, and ensured reliable backend performance, helping
                                        businesses operate efficiently while maintaining application security and data
                                        integrity.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education Section-->
                <section>
                    <h4 class="text-white fw-bolder mb-4">Education</h4>
                    <!-- Education Card 1-->
                    <div class="card border rounded-4 mb-5 bg-dark text-white">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-dark p-4 rounded-4">
                                        <div class="text-white fw-bolder mb-2">2018 - 2024</div>
                                        <div class="mb-2">
                                            <div class="small fw-bold">University of the Incarnate Word</div>
                                            <div class="small color-soft">San Antonio, TX</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">Bachelor's</div>
                                            <div class="small text-muted">Cyber-Security and Counter-Terrorism</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="color-soft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                        voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis
                                        sed aliquam non voluptate corrupti excepturi maxime porro fuga.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Skills Section-->
                <section>
                    <h4 class="text-white fw-bolder mb-4">Skills</h4>
                    <!-- Skillset Card-->
                    <div class="container ">
                        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-3 justify-content-evenly" >
                            <div  class="col border p-4 rounded mb-4" style="width:200px" >
                                <div class="fw-bold h6 text-white">Backend</div>
                                <ul class="skill-list mt-auto small">
                                    <li>Python</li>
                                    <li>Django</li>
                                    <li>Flask</li>
                                    <li>FastAPI</li>
                                    <li>GraphQL</li>
                                    <li>RESTful APIs</li>
                                </ul>
                            </div>
                            <div  class="col border p-4 rounded mb-4" style="width:200px">
                                <div class="fw-bold h6 text-white">Frontend / UI</div>
                                <ul class="skill-list mt-auto small">
                                    <li>HTML / CSS</li>
                                    <li>JavaScript</li>
                                    <li>Bootstrap</li>
                                    <li>Angular</li>
                                    <li>TypeScript</li>
                                </ul>
                            </div>

                            <div  class="col border p-4 rounded mb-4" style="width:200px">
                                <div class="fw-bold h6 text-white">Databases</div>
                                <ul class="skill-list mt-auto small">
                                    <li>PostgreSQL</li>
                                    <li>MySQL</li>
                                    <li>Redis</li>
                                    <li>Celery</li>
                                </ul>
                            </div>
                            <div  class="col border p-4 rounded mb-4" style="width:200px">
                                <div class="fw-bold h6 text-white">DevOps & Deployment</div>
                                <ul class="skill-list mt-auto small">
                                    <li>Nginx</li>
                                    <li>Gunicorn</li>
                                    <li>Docker</li>
                                    <li>AWS</li>
                                    <li>CI/CD</li>
                                    <li>Git / GitHub</li>
                                </ul>
                            </div>

                            <div  class="col border p-4 rounded mb-4" style="width:200px">
                                <div class="fw-bold h6 text-white">Security & Monitoring</div>
                                <ul class="skill-list mt-auto small">
                                    <li>Application Security</li>
                                    <li>Ethical Hacking</li>
                                    <li>Penetration Testing</li>
                                    <li>Vulnerability Assessment</li>
                                    <li>Splunk</li>
                                </ul>
                            </div>
                            <div  class="col border p-4 rounded mb-4" style="width:200px">
                                <div class="fw-bold h6 text-white">Automation</div>
                                <ul class="skill-list mt-auto small">
                                    <li>Python Automation</li>
                                    <li>Scripting</li>
                                    <li>Home Automation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}